
<div class="container">
    <div class="transbox">
      <div class="wrapper">

      <div class="column-view">
        <div class="frame" id="category-one">Category-One</div>
        <div class="frame" id="category-one-question-one" value=200>200</div>
        <div class="frame" id="category-one-question-two" value=400>400</div>
        <div class="frame" id="category-one-question-three" value=600 >600</div>
        <div class="frame" id="category-one-question-four" value=800 >800</div>
        <div class="frame" id="category-one-question-five" value=1000>1000</div>
      </div>

      <div class="column-view">
        <div class="frame" id="category-two">Category-Two</div>
        <div class="frame" id="category-two-question-one" value=200>200</div>
        <div class="frame" id="category-two-question-two" value=400>400</div>
        <div class="frame" id="category-two-question-three" value=600>600</div>
        <div class="frame" id="category-two-question-four" value=800>800</div>
        <div class="frame" id="category-two-question-five" value=1000>1000</div>
      </div>

      <div class="column-view">
        <div class="frame" id="category-three">Category-Three</div>
        <div class="frame" id="category-three-question-one" value=200>200</div>
        <div class="frame" id="category-three-question-two" value=400>400</div>
        <div class="frame" id="category-three-question-three" value=600>600</div>
        <div class="frame" id="category-three-question-four" value=800>800</div>
        <div class="frame" id="category-three-question-five" value=1000>1000</div>
      </div>

      <div class="column-view">
        <div class="frame" id="category-four">Category-Four</div>
        <div class="frame" id="category-four-question-one" value=200>200</div>
        <div class="frame" id="category-four-question-two" value=400>400</div>
        <div class="frame" id="category-four-question-three" value=600>600</div>
        <div class="frame" id="category-four-question-four" value=800>800</div>
        <div class="frame" id="category-four-question-five" value=1000>1000</div>
      </div>

      <div class="column-view">
        <div class="frame" id="category-five">Category-Five</div>
        <div class="frame" id="category-five-question-one" value=200>200</div>
        <div class="frame" id="category-five-question-two" value=400>400</div>
        <div class="frame" id="category-five-question-three" value=600>600</div>
        <div class="frame" id="category-five-question-four" value=800>800</div>
        <div class="frame" id="category-five-question-five" value=1000>1000</div>
      </div>

      </div>
    </div>
    <!-- From here the "<table align="center">" is the score result page -->
    <table align="center">
      <tr>
        <th><textarea class="frame-score" id="playerOneName"></textarea></th>
        <th><textarea class="frame-score" id="playerTwoName"></textarea></th>
      </tr>
      <tr>
        <th><h2 class="frame-score" id="playerOneScore"></h2></th>
        <th><h2 class="frame-score" id="playerTwoScore"></h2></th>
      </tr>
    </table>
    <br>
    <audio id="jeopardySong">
      <source src='../../assets/Jeopardy - Think Music.mp3' type="audio/mp3">
        Your browser does not the <code>audio</code> element.
    </audio>
    <!-- From here the "<div class="wrapperAnswer" align="center">>" can be toggled to hide the question detail page" -->
    <div class="wrapperAnswer" align="center">
      <table>
        <tr>
          <th><h2><div class="frameQuestion" id="question-box">Question 1</div></h2></th>
        </tr>
      </table>
      <table id="answer-options">
        <tr>
          <th><button class="frame-answer" id="answer0">Answer 1</button></th>
          <th><button class="frame-answer" id="answer1">Answer 2</button></th>
        </tr>
        <tr>
          <th><button class="frame-answer" id="answer2">Answer 3</button></th>
          <th><button class="frame-answer" id="answer3">Answer 4</button></th>
        </tr>
      </table>
      <br>
      <div id="skipButton">
        <button id="skipButton"  class="btn btn-success btn-lg" (click)="skipQuestion" type="button" >Skip</button>
      </div>
      <br>
      <br>
    </div>
</div>
